body {
  background: var(--blue);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

/* No Scrollbar in Chrome */
body::-webkit-scrollbar {
  width: 0 !important;
}

footer {
  color: var(--white);
  display: grid;
  font-family: "Londrina Shadow", cursive;
  grid-template-columns: 1fr auto;
  left: 0;
  margin-top: auto;
  padding: 2px 8px;
  place-items: center center;
  right: 0;
  text-shadow: 0px 1px 2px var(--green);
}

/* SFHsounds h1 */
h1 {
  color: var(--white);
  font-family: "Sedgwick Ave Display", cursive;
  font-size: calc(35px + 2.5vw);
  font-weight: 100;
  margin: 100px 0;
  text-align: center;
}

html {
  --black: #000;
  --blue: #1b4297;
  --green: #05ae96;
  --pink: #be128f;
  --white: #fff;
  height: 100%;
  scrollbar-width: none; /*No Scrollbar in Firefox */
}

/* Key Lettering Size */
kbd {
  font-size: 3.8rem;
}

/* Push footer away from main on mobile */
main {
  margin-bottom: 100px;
}

.disable-select {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Key Styling */
.key {
  background: var(--white);
  border-radius: 0.5rem;
  border: 0.3rem solid var(--green);
  box-shadow: 0px 6px 0px 10px rgba(0, 0, 0, 0.4);
  color: var(--blue);
  display: grid;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  padding: 1rem 0;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  transition: all 0.07s ease;
}

/* Keydown Styling */
.keydown {
  border-color: var(--pink);
  box-shadow: 0 0 1rem var(--green);
  box-shadow: 0px 6px 0px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

/* Key Container */
.keys {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, 120px);
  justify-content: center;
  margin: 0 10px;
  text-align: center;
}

/* SFHsounds h1 */
#title {
  background-image: url("../images/3px-tile.png");
  border-radius: 16px;
  border-style: solid;
  border-width: 7px;
  padding: 20px;
  text-shadow: 0px 3px 6px var(--green);
  transition: 2s;
}

#title:hover {
  background-image: url("../images/3px-tile.png");
  box-shadow: 0px 0px 20px -4px var(--pink);
  text-shadow: 2px 5px 50px var(--pink);
}

/* startGitHub Octocat */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
/* endGitHub Octocat */
